<footer>
  <div class="f-info">
    <div class="f-info-social">
      <i class="fa-brands fa-square-facebook"></i>

      <i class="fa-brands fa-square-linkedin"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="f-info-brand" >&copy; Wanderlust privet limited</div>
    <div class="f-info-links">
      <a href="/priecy">Privecy</a>
      <a href="/terms">Tearms</a>
    </div>
  </div>
</footer>
